<tr>
    <td>{{ game.id }}</td>
    <td>{{ game.name }}</td>
    <td>gameconfig filename</td>
    <td>{{ game.playersPastHour }}</td>
    <td>{{ game.gameState }}</td>
    <td>{{ game.gameCurrentMonth }} </td>
    <td>{{ game.gameEndMonth }}</td>
    <td class="text-center">icons here</td>
</tr>