{% extends 'base.html.twig' %}

{% block title %}New Server Manager{% endblock %}

{% block body %}
<div {{ stimulus_controller('gamelist')|stimulus_controller('game') }}>
    <div class="py-1">
        <button type="button" id="modalNewSession" class="btn btn-primary" data-action="modal-default#openNewSessionModal">
            <i class="fa fa-plus-circle" title="Create new session"></i>
            New Session
        </button>
    </div>
    <div class="col-md-12 py-2">
        <div class="pull-right" >Filter:
            <span id="radioFilter">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="public" checked
                            data-action="gamelist#applyFilter" data-href="{{ path('manager_gamelist') }}">
                    <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline mx-0">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="archived"
                           data-action="gamelist#applyFilter" data-href="{{ path('manager_gamelist', {'sessionState': 'archived'}) }}">
                    <label class="form-check-label" for="inlineRadio3">Archived</label>
                </div>
            </span>
        </div>
        <div>
            Here you can create a new MSP Challenge session, and administer existing ones.
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <turbo-frame id="sessionsTable" src="{{ path('manager_gamelist') }}">
            </turbo-frame>
        </div>
    </div>
    {{ include('manager/GameList/gamelist_modal.html.twig') }}
</div>
{% endblock %}
