{% extends 'base.html.twig' %}

{% block title %}New Server Manager{% endblock %}

{% block body %}
    <div class="py-1" data-turboframe="gameForm">
        <button type="button" id="modalNewSession" class="btn btn-primary" data-action="modal-default#openNewSessionModal">
            <i class="fa fa-plus-circle" title="Create new session"></i>
            New Session
        </button>
        {{ include('manager/modal_default.html.twig', {
            modalTarget: 'modalNewSession',
            modalAction: 'modal-new_session-closing@window->modal-default#closeNewSessionModal',
            modalTitle: 'Create New Session',
            modalCloseAction: 'closeNewSessionModal',
            modalTurboFrameSrcRoute: 'manager_game_form',
            modalTurboFrameId: 'gameForm'
        }) }}
    </div>
    <div class="col-md-12 py-2">
        <div class="pull-right" >Filter:
            <span id="radioFilter">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="public" checked
                            {{ stimulus_controller('gamelist-filter') }} data-action="gamelist-filter#applyFilter" data-href="{{ path('manager_gamelist') }}">
                    <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline mx-0">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="archived"
                           {{ stimulus_controller('gamelist-filter') }} data-action="gamelist-filter#applyFilter" data-href="{{ path('manager_gamelist', {'sessionState': 'archived'}) }}">
                    <label class="form-check-label" for="inlineRadio3">Archived</label>
                </div>
            </span>
        </div>
        <div>
            Here you can create a new MSP Challenge session, and administer existing ones.
        </div>
    </div>
    <div class="col-md-12" {{ stimulus_controller('game') }}>
        <div class="table-responsive">
            <turbo-frame id="sessionsTable" src="{{ path('manager_gamelist') }}"
                {{ stimulus_controller('gamelist') }}>
            </turbo-frame>
        </div>
        {{ include('manager/modal_default.html.twig', {
            modalTarget: 'modalSessionDetails',
            modalAction: 'modal-closing@window->modal-default#closeSessionDetailsModal infolog-showing@window->modal-default#stopDetailsModalAutoReload infolog-hiding@window->modal-default#startDetailsModalAutoReload',
            modalTitle: 'Session Details',
            modalCloseAction: 'closeSessionDetailsModal',
            modalTurboFrameSrcRoute: 'manager_game_details',
            modalTurboFrameId: 'gameDetails'
        }) }}
        {{ include('manager/modal_default.html.twig', {
            modalTarget: 'modalSessionAccess',
            modalAction: 'modal-session_access-closing@window->modal-default#closeSessionAccessModal',
            modalTitle: 'Session User Access',
            modalCloseAction: 'closeSessionAccessModal',
            modalTurboFrameSrcRoute: 'manager_game_access',
            modalTurboFrameId: 'gameAccess'
        }) }}
    </div>
    




            




            <!-- Modal Session user management -->
            <div class="modal fade" id="sessionUsers" tabindex="-1" role="dialog" aria-labelledby="sessionUsersCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-wide" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="sessionUsersCenterTitle">Session User Management</h5>
                            <button type="button" id="btnCloseSessionUsers" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>When setting a password, anyone who has that password will be able to log on to your session as that user type.
                                When setting specific users, those users will be able to log on to your session as that user type (assuming they entered the correct username and password).
                            </p>
                            <form class="form-horizontal" role="form" data-toggle="validator" id="formSessionUsers">
                                <div class="row">
                                    <div class="col">
                                        <div id="adminUserAccess">
                                            <h6>Administrators</h6>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="provider_admin" value="local" onChange="limitUserAccessView('#adminPasswordFields');">
                                                <label class="form-check-label" for="provider_admin">
                                                    Set a password
                                                </label>
                                            </div>
                                            <div id="adminPasswordFields">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Enter a password. Administrators require a password." id="password_admin" name="password_admin">
                                                </div>
                                            </div>
                                            <div id="adminProviders">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="provider_admin" value="external" onChange="limitUserAccessView('#adminUserFields');">
                                                    <label class="form-check-label" for="provider_admin">
                                                        Set users from
                                                    </label>
                                                    <select class="form-control-sm d-inline-block p-0 h-25" id="provider_admin_external"></select>
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                        Enter one username or e-mail address per line, and click Find.
                                                    </small>
                                                </div>
                                            </div>
                                            <div id="adminUserFields">
                                                <div class="input-group mb-3">
                                                    <div contenteditable="true" class="form-control" style="height: auto !important;" id="users_admin"></div>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="button-find-users_admin" onclick="findUsersAtProvider('#users_admin', $('#provider_admin_external').val());">Find</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div id="regionUserAccess">
                                            <h6>Region Managers</h6>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="provider_region" id="provider_region" value="local" onChange="limitUserAccessView('#regionPasswordFields');">
                                                <label class="form-check-label" for="provider_region">
                                                    Set a password
                                                </label>
                                            </div>
                                            <div id="regionPasswordFields">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Enter a password. Region managers require a password." id="password_region" name="password_region">
                                                </div>
                                            </div>
                                            <div id="regionProviders">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="provider_region" value="external" onChange="limitUserAccessView('#regionUserFields');">
                                                    <label class="form-check-label" for="provider_region">
                                                        Set users from
                                                    </label>
                                                    <select class="form-control-sm d-inline-block p-0 h-25" id="provider_region_external"></select>
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                        Enter one username or e-mail address per line, and click Find.
                                                    </small>
                                                </div>
                                            </div>
                                            <div id="regionUserFields">
                                                <div class="input-group mb-3">
                                                    <div contenteditable="true" class="form-control" style="height: auto !important;" id="users_region"></div>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="button-find-users_region" onclick="findUsersAtProvider('#users_region', $('#provider_region_external').val());">Find</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="playerUserAccess" style="margin-top: 25px;">
                                            <h6>Players</h6>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="provider_player" id="provider_player" value="local" onChange="limitUserAccessView('#playerPasswordFields');">
                                                <label class="form-check-label" for="provider_player">
                                                    Set a password
                                                </label>
                                            </div>
                                            <div id="playerPasswordFields">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Leave empty for immediate access." id="password_playerall" name="password_playerall" oninput="toggleFields();">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">All countries</span>
                                                    </div>
                                                </div>
                                                <div id="playerPasswordExtraFields">
                                                </div>
                                            </div>
                                            <div id="playerProviders">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="provider_player" value="external" onChange="limitUserAccessView('#playerUserFields');">
                                                    <label class="form-check-label" for="provider_player">
                                                        Set users from
                                                    </label>
                                                    <select class="form-control-sm d-inline-block p-0 h-25" id="provider_player_external"></select>
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                        Enter one username or e-mail address per line, and click Find.
                                                    </small>
                                                </div>
                                            </div>
                                            <div id="playerUserFields">
                                                <div class="input-group mb-3">
                                                    <div contenteditable="true" class="form-control" style="height: auto !important;" id="users_playerall"></div>

                                                    <div class="input-group-append">
                                                        <span class="input-group-text">All countries</span>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="button-find-users_playerall" onclick="findUsersAtProvider('#users_playerall', $('#provider_player_external').val());">Find</button>
                                                    </div>
                                                </div>
                                                <div id="playerUserExtraFields">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onClick="saveUserAccess();">Save</button>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
