<turbo-frame id="configsTable">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Configuration name</th>
            <th>Version</th>
            <th>Date uploaded</th>
            <th>Uploaded by</th>
            <th>Last used</th>
            <th class="text-center" style="width: 125px;">Quick Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if configslist is empty %}
            <tr>
                <td colspan="8">No configurations (of this type) yet.</td>
            </tr>
        {% endif %}
        {% set previous = '' %}
        {% set primaryBackgroundColorClass = '' %}
        {% set secondaryBackgroundColorClass = 'bg-secondary-subtle' %}
        {% set backgroundColorClass = primaryBackgroundColorClass %}
        {% for config in configslist %}
            {% if previous != config.gameConfigFile.filename %}
                {% if backgroundColorClass == primaryBackgroundColorClass %}
                    {% set backgroundColorClass = secondaryBackgroundColorClass %}
                {% else %}
                    {% set backgroundColorClass = primaryBackgroundColorClass %}
                {% endif %}
            {% endif %}
            <tr class="{{ backgroundColorClass }}">
                <td>
                    {% if previous != config.gameConfigFile.filename %}
                        {{ config.gameConfigFile.filename }}
                    {% endif %}
                </td>
                <td>{{ config.version }}</td>
                <td>{{ config.uploadTime|date("Y-m-d H:i") }} </td>
                <td>{{ config.uploadUserName }}</td>
                <td>{{ config.lastPlayedTime == 0 ? "Never" : config.lastPlayedTime|date("Y-m-d H:i") }}</td>
                <td class="text-center" style="width: 125px;">
                    <button class="btn btn-secondary btn-sm" 
                        data-config="{{ config.id }}" 
                        data-action="gameconfig#configDownload">
                        <i class="fa fa-download" title= "Download configuration file"></i>
                    </button>
                    <button class="btn btn-secondary btn-sm" 
                        data-config="{{ config.id }}" 
                        data-action="modal-gameconfig#openConfigDetailsModal">
                        <i class="fa fa-info-circle" title= "Configuration details"></i>
                    </button>
                </td>
            </tr>
            {% set previous = config.gameConfigFile.filename %}
        {% endfor %}
        </tbody>
    </table>
</turbo-frame>