<turbo-frame id="sessionsTable">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Session Name</th>
            <th>Configuration</th>
            <th>Players</th>
            <th>State</th>
            <th>Current Month</th>
            <th>Ending Month</th>
            <th class="text-center">Quick Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if gameList is empty %}
            <tr>
                <td colspan="8">No sessions yet. Click on "New Session" to get started.</td>
            </tr>
        {% endif %}
        {% for game in gameList %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>
                    {% if (game.gameConfigVersion) %}
                        {{ game.gameConfigVersion.gameConfigFile.filename }}
                    {% elseif (game.gameSave) %}
                        {{ game.gameSave.gameConfigFilesFilename }}
                    {% endif %}
                </td>
                <td>{{ game.playersPastHour|default(0) }}</td>
                {% if game.sessionState == 'request' or game.sessionState == 'failed' %}
                    {% set showState = game.sessionState %}
                {% else %}
                    {% set showState = game.gameState %}
                {% endif %}
                <td class="state_{{ showState }}">
                    {{ showState }}
                    {% if (showState == 'request') %}
                        <i class="fa fa-spinner fa-pulse" title="Your session is being created."></i>
                    {% elseif (showState == 'setup') %}
                        <i class="fa fa-check" title="This session is ready."></i>
                    {% endif %}
                </td>
                <td>{{ game.gameCurrentMonthPretty }} </td>
                <td>{{ game.getGameEndMonthPretty }}</td>
                <td class="text-center">
                    <button class="btn btn-secondary btn-sm"
                            {{ stimulus_controller('game', { state: 'pause' }) }}
                            data-action="game#setState">
                        <i class="fa fa-pause"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</turbo-frame>