<turbo-frame id="sessionsTable">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Session Name</th>
            <th>Configuration</th>
            <th>Players</th>
            <th style="width: 100px;">State</th>
            <th>Current Month</th>
            <th>Ending Month</th>
            <th class="text-center" style="width: 125px;">Quick Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if sessionslist is empty %}
            <tr>
                <td colspan="8">No sessions (of this type) yet.</td>
            </tr>
        {% endif %}
        {% for game in sessionslist %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.config_file_name }}</td>
                <td>{{ game.players_past_hour|default(0) }}</td>
                {% if game.session_state != 'healthy' %}
                    {% set state = game.session_state %}
                {% else %}
                    {% set state = game.game_state.value|lower %}
                    {% set transitionState = game.game_transition_state %}
                {% endif %}
                <td class="state_{{ state }}">
                    {% if transitionState is defined and transitionState is not null %}
                        {% if transitionState.value|lower != state %}
                            {{ transitionState.value|lower }}
                        {% endif %}
                        <i class="fa fa-solid fa-arrow-right"></i>
                    {% endif %}
                    {{ state }}
                    {% if (state == 'request') %}
                        <i class="fa fa-spinner fa-pulse" title="Your session is being created..."></i>
                    {% elseif (game.game_transition_state is not null) %}
                        <i class="fa fa-spinner fa-pulse" title="Running simulations..."></i>
                    {% endif %}
                </td>
                <td>
                    {% if game.game_transition_month is not null %}
                        {% if game.game_transition_month != game.game_current_month %}
                            {{ game.transition_month_formatted }}
                        {% endif %}
                        <i class="fa fa-solid fa-arrow-right"></i>
                    {% endif %}
                    {{ game.current_month_formatted }}
                    {% if (game.game_transition_month is not null) %}
                        <i class="fa fa-spinner fa-pulse" title="Running simulations..."></i>
                    {% endif %}
                </td>
                <td>{{ game.end_month_formatted }}</td>
                <td class="text-center">
                {% if showGameButton('pause', game) %}
                    <button class="btn btn-secondary btn-sm"
                        data-session="{{ game.id }}"
                        data-state="pause"
                        data-action="gamelist#sessionState">
                        <i class="fa fa-pause" title="Pause"></i>
                    </button>
                {% elseif showGameButton('play', game) %}
                    <button class="btn btn-secondary btn-sm"
                        data-session="{{ game.id }}"
                        data-state="play"
                        data-action="gamelist#sessionState">
                        <i class="fa fa-play" title="Play"></i>
                    </button>
                {% else %}
                    <button class="btn btn-secondary btn-sm" disabled>
                        <i class="fa fa-pause" title="State change impossible at this time"></i>
                    </button>
                {% endif %}
                {% if showGameButton('save', game) %}
                    <button class="btn btn-secondary btn-sm"
                        data-session="{{ game.id }}"
                        data-type="full"
                        data-action="gamelist#sessionSave">
                        <i class="fa fa-save" title="Save"></i>
                    </button>
                {% else %}
                    <button class="btn btn-secondary btn-sm" disabled>
                        <i class="fa fa-save" title="Pause before you can save"></i>
                    </button>
                {% endif %}
                    <button class="btn btn-secondary btn-sm"
                        data-session="{{ game.id }}"
                        data-action="modal-game#openSessionDetailsModal">
                        <i class="fa fa-info-circle" title= "Session details"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</turbo-frame>
