<turbo-frame id="sessionsTable">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Session Name</th>
            <th>Configuration</th>
            <th>Players</th>
            <th>State</th>
            <th>Current Month</th>
            <th>Ending Month</th>
            <th class="text-center">Quick Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if gameList is empty %}
            <tr>
                <td colspan="8">No sessions yet. Click on "New Session" to get started.</td>
            </tr>
        {% endif %}
        {% for game in gameList %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>
                    {% if (game.gameConfigVersion) %}
                        {{ game.gameConfigVersion.gameConfigFile.filename }}
                    {% elseif (game.gameSave) %}
                        {{ game.gameSave.gameConfigFilesFilename }}
                    {% endif %}
                </td>
                <td>{{ game.playersPastHour }}</td>
                <td class="state_{{ game.sessionState }}">
                    {% if (game.sessionState == 'request') %}
                        requesting <i class="fa fa-spinner fa-pulse" title="Your session is being created."></i>
                    {% elseif (game.sessionState == 'healthy' and game.gameState == 'setup') %}
                        setup <i class="fa fa-check" title="This session is ready."></i>
                    {% elseif (game.sessionState == 'failed') %}
                        failed
                    {% else %}
                        {{ game.gameState }}
                    {% endif %}
                </td>
                <td>{{ game.gameCurrentMonthPretty }} </td>
                <td>{{ game.getGameEndMonthPretty }}</td>
                <td class="text-center">
                    <button {{ stimulus_controller('game') }} data-state="pause" data-action="game#setState">
                        test
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</turbo-frame>