<turbo-frame id="modalDefaultBody">
    <div data-modal-game-target="modalUserAccessForm">
        {{ form_start(gameSessionUserAccessForm) }}
        {{ form_errors(gameSessionUserAccessForm) }}
        <div class="modal-body">
            <p>When setting a password, anyone who has that password will be able to log on to your session as that user type. 
            When setting specific users, those users will be able to log on to your session as that user type (assuming they entered the correct username and password).
            </p>
            {{ form_widget(gameSessionUserAccessForm.passwordAdmin) }}
            {{ form_widget(gameSessionUserAccessForm.passwordPlayer) }}
            <div class="row">
                <div class="col">
                    <div id="adminUserAccess">
                        <h6>Administrators</h6>
                        {{ form_widget(gameSessionUserAccessForm.provider_admin, {'attr': {'class': 'form-select'}}) }}
                        <div id="adminPasswordFields" class="py-2">
                            {{ form_widget(gameSessionUserAccessForm.password_admin, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div id="adminUserFields" class="container">
                            <div class="row py-2">
                                <div class="col border-bottom border-light-subtle">
                                    <ul class="users_admin list-group list-group-horizontal"
                                        data-prototype="{{ form_widget(gameSessionUserAccessForm.users_admin.vars.prototype)|e('html_attr') }}"
                                    ></ul>
                                </div>
                                <div class="col col-auto">
                                    <button type="button" class="btn btn-outline-secondary" data-collection-holder-class="users_admin">Add user</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div id="regionUserAccess">
                        <h6>Region Managers</h6>
                        {{ form_widget(gameSessionUserAccessForm.provider_region, {'attr': {'class': 'form-select'}}) }}
                        <div id="regionPasswordFields" class="py-2">
                            {{ form_widget(gameSessionUserAccessForm.password_region, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div id="regionUserFields" class="container">
                            <div class="row py-2">
                                <div class="col border-bottom border-light-subtle">
                                    <ul class="users_region list-group list-group-horizontal"
                                        data-prototype="{{ form_widget(gameSessionUserAccessForm.users_region.vars.prototype)|e('html_attr') }}"
                                    ></ul>
                                </div>
                                <div class="col col-auto">
                                    <button type="button" class="btn btn-outline-secondary" data-collection-holder-class="users_region">Add user</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="playerUserAccess" class="mt-3">
                        <h6>Players</h6>
                        {{ form_widget(gameSessionUserAccessForm.provider_player, {'attr': {'class': 'form-select'}}) }}
                        <div id="playerPasswordFields" class="py-2">
                            <div class="input-group py-2">
                                {{ form_widget(gameSessionUserAccessForm.password_playerall, {'attr': {'class': 'form-control'}})}}
                                <span class="input-group-text">All</span>
                            </div>
                            {% for country in gameSession.countries %}
                                <div class="input-group py-2">
                                    {{ form_widget(gameSessionUserAccessForm["password_player_country_#{country.country_id}"], {'attr': {'class': 'form-control'}}) }}
                                    <span class="input-group-text country-label" style="background-color: {{ country.country_colour }}">{{ country.country_name}}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="playerUserFields" class="container">
                            <div class="row py-2">
                                <div class="col border-bottom border-light-subtle">
                                    <ul class="users_playerall list-group list-group-horizontal py-2 w-75"
                                        data-prototype="{{ form_widget(gameSessionUserAccessForm.users_playerall.vars.prototype)|e('html_attr') }}"
                                    ></ul>
                                </div>
                                <div class="col col-auto">
                                    <button type="button" class="btn btn-outline-secondary" data-collection-holder-class="users_playerall">
                                        Add user to all</span>
                                    </button>
                                </div>
                            </div>
                            {% for country in gameSession.countries %}
                            <div class="row py-2">
                                <div class="col border-bottom border-light-subtle">
                                    <ul class="users_player_country_{{country.country_id}} list-group list-group-horizontal py-2 w-75"
                                        data-prototype="{{ form_widget(gameSessionUserAccessForm["users_player_country_#{country.country_id}"].vars.prototype)|e('html_attr') }}"
                                    ></ul>
                                </div>
                                <div class="col col-auto">
                                    <button type="button" class="btn btn-outline-secondary" data-collection-holder-class="users_player_country_{{country.country_id}}">
                                        Add user to <span class="country-label" style="background-color: {{ country.country_colour }}">{{country.country_name}}</span>
                                    </button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-action="modal-default#closeModalDefault">Cancel</button>
            <button type="submit" class="btn btn-primary" data-action="modal-game#submitUserAccessModalForm">Save</button>
        </div>
        {{ form_widget(gameSessionUserAccessForm._token) }}
        {{ form_end(gameSessionUserAccessForm, { render_rest: false }) }}
    </div>
</turbo-frame>