<turbo-frame id="sessionsTable">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Session Name</th>
            <th>Configuration</th>
            <th>Players</th>
            <th>State</th>
            <th>Current Month</th>
            <th>Ending Month</th>
            <th>Quick Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if sessionslist is empty %}
            <tr>
                <td colspan="8">No sessions yet. Click on "New Session" to create a new session.</td>
            </tr>
        {% endif %}
        {% for game in sessionslist %}
            <tr {{ stimulus_controller('game', { id: game.id }) }}>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.config_file_name }}</td>
                <td>{{ game.players_past_hour|default(0) }}</td>
                {% if game.session_state == 'request' or game.session_state == 'failed' %}
                    {% set showState = game.session_state %}
                {% else %}
                    {% set showState = game.game_state %}
                {% endif %}
                <td class="state_{{ showState }}">
                    {{ showState }}
                    {% if (showState == 'request') %}
                        <i class="fa fa-spinner fa-pulse" title="Your session is being created."></i>
                    {% elseif (showState == 'setup') %}
                        <i class="fa fa-check" title="This session is ready."></i>
                    {% endif %}
                </td>
                <td>{{ game.current_month_formatted }} </td>
                <td>{{ game.end_month_formatted }}</td>
                <td class="text-left">
                    <button class="btn btn-secondary btn-sm" 
                        data-session="{{ game.id }}" 
                        data-action="modal-default#openDetailsModal">
                        <i class="fa fa-info-circle" title= "Session details"></i>
                    </button>
                {% if showGameButton('pause', game) %}
                    <button class="btn btn-secondary btn-sm" data-state="pause" data-action="game#sessionState">
                        <i class="fa fa-pause" title="Pause"></i>
                    </button>
                {% elseif showGameButton('play', game) %}
                    <button class="btn btn-secondary btn-sm" data-state="play" data-action="game#sessionState">
                        <i class="fa fa-play" title="Play"></i>
                    </button>
                {% endif %}
                {% if showGameButton('save', game) %}
                    <button class="btn btn-secondary btn-sm" data-type="full" data-action="game#sessionSave">
                        <i class="fa fa-save" title="Save"></i>
                    </button>
                {% else %}
                    <button class="btn btn-secondary btn-sm" disabled>
                        <i class="fa fa-save" title="Pause before you can save"></i>
                    </button>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</turbo-frame>